@model Matchbox.Models.EmpresaViewModel

@{
    ViewData["Title"] = "Editar perfil de empresa";
}

@if (ViewBag.ShowOptions)
{
    <div class="card">
        <div class="card-body">
            <a class="btn btn-primary" asp-controller="Servicios" asp-action="Create" asp-route-empresaId="@Model.Id"><b>+</b> Nuevo servicio</a>
            <a class="btn btn-primary" asp-controller="Empresas" asp-action="Edit" asp-route-id="@Model.Id">Editar perfil</a>

            @*<a class="btn btn-danger" asp-controller="Empresas" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>*@
            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Eliminar perfil</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro que desea eliminar el perfil?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <a class="btn btn-danger" asp-controller="Empresas" asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
}

<div class="row mt-3">
    @if (!string.IsNullOrEmpty(Model.FotoPerfilPath))
    {
        <div class="col-12 col-md-2">
            <div class="ratio ratio-1x1">
                <img src="~/img/user-profile/@Model.FotoPerfilPath" class="img-thumbnail" style="object-fit: cover;">
            </div>
        </div>
    }
    <div class="col-12 col-md-10">
        <h2>
            @Html.DisplayFor(model => model.RazonSocial)
        </h2>
        <div>
            @Html.DisplayFor(model => model.Telefono)
        </div>
        <div>
            @Html.DisplayFor(model => model.Localidad) @Html.DisplayFor(model => model.Provincia)
        </div>
    </div>
</div>

<h3>Servicios disponibles</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Rubro
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ServiciosList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.sNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rNombre)
                </td>
                <td>
                    <a asp-controller="Empresas" asp-action="Details" asp-route-id="4">Ver</a>
                    <a asp-controller="Empresas" asp-action="Details" asp-route-id="4"> Editar</a>
                    <a asp-controller="Empresas" asp-action="Details" asp-route-id="4"> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
