@using Microsoft.AspNetCore.Http

@{
    int userId = Convert.ToInt32(Context.Session.GetString("_UserID"));
    bool login = userId != 0;
    bool admin = Context.Session.GetString("_UserAdmin") == "1";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewData["Title"] - Matchbox</title>
    <link rel="stylesheet" href="~/olog-template/dist/main.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/slick-1.8.1/slick/slick.css" />
</head>

<body>
    <!-- Header Area Start -->
    <header class="header">
        <div class="header-bottom">
            <div class="container">
                <div class="nav-desktop d-none d-lg-block">
                    <nav class="menu-area d-flex align-items-center">
                        <a class="nav-logo" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" alt="logo" />
                        </a>
                        <div class="search-bar mx-auto">
                            <input type="text" placeholder="Buscar...">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.414" height="20.414"
                                     viewBox="0 0 20.414 20.414">
                                    <g id="Search_Icon" data-name="Search Icon" transform="translate(1 1)">
                                        <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="8.158" cy="8" rx="8.158"
                                                 ry="8" fill="none" stroke="#1a2224" stroke-linecap="round"
                                                 stroke-linejoin="round" stroke-width="2" />
                                        <line id="Line_4" data-name="Line 4" x1="3.569" y1="3.5"
                                              transform="translate(14.431 14.5)" fill="none" stroke="#1a2224"
                                              stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <ul class="main-menu d-flex align-items-center m-0">
                            <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li><a href="#">Rubros</a></li>
                            @{
                                if (login)
                                {
                                    <li>
                                        <a>
                                            Personal
                                            <svg xmlns="http://www.w3.org/2000/svg" width="9.98" height="5.69"
                                             viewBox="0 0 9.98 5.69">
                                                <g id="Arrow" transform="translate(0.99 0.99)">
                                                    <path id="Arrow-2" data-name="Arrow" d="M1474.286,26.4l4,4,4-4"
                                                      transform="translate(-1474.286 -26.4)" fill="none" stroke="#1a2224"
                                                      stroke-linecap="round" stroke-linejoin="round" stroke-width="1.4" />
                                                </g>
                                            </svg>
                                        </a>
                                        <ul class="sub-menu">
                                            <li><a asp-controller="Cliente" asp-action="Details" asp-route-id="@userId">Perfil cliente</a></li>
                                            <li><a asp-controller="Empresas" asp-action="Details" asp-route-id="@userId">Perfil empresa</a></li>
                                            <li><a href="#">Servicios contratados</a></li>
                                            <li><a href="#">Mi agenda de trabajo</a></li>
                                        </ul>
                                    </li>
                                    if (admin)
                                    {
                                        <li><a asp-controller="Home" asp-action="Admin">Admin</a></li>
                                    }
                                    <li><a asp-controller="Usuarios" asp-action="LogOff">Cerrar sesión</a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="Usuarios" asp-action="SignIn">Iniciar sesión</a></li>
                                    <li><a asp-controller="Usuarios" asp-action="Create">Registrarse</a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
                <!-- Mobile Menu -->
                <aside class="d-lg-none">
                    <div id="mySidenav" class="sidenav">
                        <div class="close-mobile-menu">
                            <a href="javascript:void(0)" id="menu-close" class="closebtn"
                               onclick="closeNav()">&times;</a>
                        </div>
                        <div class="search-bar">
                            <input type="text" placeholder="Buscar...">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.414" height="20.414"
                                     viewBox="0 0 20.414 20.414">
                                    <g id="Search_Icon" data-name="Search Icon" transform="translate(1 1)">
                                        <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="8.158" cy="8" rx="8.158"
                                                 ry="8" fill="none" stroke="#1a2224" stroke-linecap="round"
                                                 stroke-linejoin="round" stroke-width="2" />
                                        <line id="Line_4" data-name="Line 4" x1="3.569" y1="3.5"
                                              transform="translate(14.431 14.5)" fill="none" stroke="#1a2224"
                                              stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                            <li><a href="#">Rubros</a></li>
                            <li><a asp-controller="Usuarios" asp-action="SignIn">Iniciar sesión</a></li>
                            <li><a asp-controller="Usuarios" asp-action="Create">Registrarse</a></li>
                            @{
                                if (login)
                                {
                                    <li><a asp-controller="Cliente" asp-action="Details" asp-route-id="@userId">Perfil cliente</a></li>
                                    <li><a asp-controller="Empresas" asp-action="Details" asp-route-id="@userId">Perfil empresa</a></li>
                                    <li><a href="#">Servicios contratados</a></li>
                                    <li><a href="#">Mi agenda de trabajo</a></li>
                                    <li><a asp-controller="Usuarios" asp-action="LogOff">Cerrar sesión</a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="Usuarios" asp-action="SignIn">Iniciar sesión</a></li>
                                    <li><a asp-controller="Usuarios" asp-action="Create">Registrarse</a></li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="mobile-nav d-flex align-items-center justify-content-between">
                        <a class="nav-logo nav-logo-mobile" asp-controller="Home" asp-action="Index">
                            <img src="~/img/logo.png" alt="logo" />
                        </a>
                        <div class="search-bar">
                            <input type="text" placeholder="Buscar...">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20.414" height="20.414"
                                     viewBox="0 0 20.414 20.414">
                                    <g id="Search_Icon" data-name="Search Icon" transform="translate(1 1)">
                                        <ellipse id="Ellipse_1" data-name="Ellipse 1" cx="8.158" cy="8" rx="8.158"
                                                 ry="8" fill="none" stroke="#1a2224" stroke-linecap="round"
                                                 stroke-linejoin="round" stroke-width="2" />
                                        <line id="Line_4" data-name="Line 4" x1="3.569" y1="3.5"
                                              transform="translate(14.431 14.5)" fill="none" stroke="#1a2224"
                                              stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                        <div class="hamburger-menu">
                            <a style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</a>
                        </div>
                    </div>
                </aside>
                <!-- Body overlay -->
                <div class="overlay" id="overlayy"></div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <main role="main" class="wrapper py-3 container">
        @RenderBody()
    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright d-flex justify-content-between align-items-center">
                        <div class="copyright-text order-2 order-lg-1">
                            <p>&copy; 2020 MatchBox</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/slick-1.8.1/slick/slick.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/olog-template/dist/main.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
            $('#overlayy').addClass("active");
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            $('#overlayy').removeClass("active");
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>