@model Matchbox.Models.ClienteViewModel

@{
    ViewData["Title"] = "Crear perfil de cliente";
}

<h2 class="text-center">Editar perfil de cliente</h2>
<p class="text-center text-danger">(*) Campos obligatorios</p>
<hr />
<div class="row">
    <form asp-action="Edit" class="container" enctype="multipart/form-data">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdUsuario" />
            <input type="hidden" asp-for="FechaAlta" />
            <div class="form-group col-12 col-md-6">
                <b class="text-danger">* </b>
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" autocomplete="off" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <b class="text-danger">* </b>
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" autocomplete="off" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <b class="text-danger">* </b>
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" autocomplete="off" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-md-6">
                <b class="text-danger">* </b>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" autocomplete="off" />
                <span asp-validation-for="Email" class="text-danger"></span>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="emailCheckBox">
                    <label class="custom-control-label" for="emailCheckBox">Utilizar el mismo mail de usuario</label>
                </div>
            </div>
            <div class="form-group col-12 col-md-6">
                <b class="text-danger">* </b>
                <label asp-for="Provincia" class="control-label"></label>
                <select class="form-select form-select-search form-select-provinces" id="ProvinciaDrop" style="width: 100%">
                    <option value=""></option>
                </select>
                <span asp-validation-for="Provincia" class="text-danger"></span>
                <input type="hidden" asp-for="Provincia" />
            </div>
            <div class="form-group col-12 col-md-6">
                <b class="text-danger">* </b>
                <label asp-for="Localidad" class="control-label"></label>
                <select class="form-select form-select-cities" id="LocalidadDrop" style="width: 100%" disabled></select>
                <span asp-validation-for="Localidad" class="text-danger"></span>
                <input type="hidden" asp-for="Localidad" />
            </div>

            <div class="form-group col-12">
                <label asp-for="FotoPerfil" class="control-label"></label>

                <div class="form-group col-12 col-md-6 p-0" id="profile-area-empty" style="display: none;">
                    <div class="custom-file">
                        <input asp-for="FotoPerfil" class="custom-file-input" id="customFile" type="file">
                        <label class="custom-file-label" for="customFile"></label>
                        <button type="button" class="btn btn-outline-danger btn-sm mt-2" id="file-reset">
                            <b>X</b> Eliminar
                        </button>
                    </div>
                    <span asp-validation-for="FotoPerfil" class="text-danger"></span>
                </div>
                @if (!string.IsNullOrEmpty(Model.FotoPerfilPath))
                {
                    <div class="row" id="profile-area-saved" style="display: none;">
                        <div class="col-12 col-md-2">
                            <div class="ratio ratio-1x1">
                                <img src="~/img/user-profile/@Model.FotoPerfilPath" class="img-thumbnail" style="object-fit: cover;">
                            </div>
                        </div>
                        <div class="col-12 col-md-10">
                            <div class="mb-2">
                                <button type="button" class="btn btn-outline-danger btn-sm" id="picture-reset">
                                    <b>X</b> Eliminar foto
                                </button>
                            </div>
                        </div>
                    </div>
                }
                <input type="hidden" asp-for="FotoPerfilPath" />
                <input type="hidden" asp-for="FotoPerfilPath_Old" />
            </div>

            <div class="form-group col-12 mt-3 mb-0 text-center">
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" role="button">Descartar</a>
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function capitalizeFirstLetter(mySentence) {
            const words = mySentence.split(" ");
            for (let i = 0; i < words.length; i++) {
                words[i] = words[i][0].toUpperCase() + words[i].substr(1).toLowerCase();
            }
            return words.join(" ");
        }

        // FUNCIONES DE PROVINCIA/CIUDAD
        async function getProvices() {
            const response = await fetch("https://apis.datos.gob.ar/georef/api/provincias?campos=nombre&orden=nombre");
            const data = await response.json();
            return data;
        }

        (async function fillProvices() {
            const result = await getProvices();
            let dataProvices = $.map(result.provincias, function(prov) {
                prov.id = prov.id
                prov.text = prov.nombre;
                return prov;
            });

            $('.form-select-provinces').select2({
                theme: 'bootstrap-5',
                language: 'es',
                width: 'resolve',
                data: dataProvices
            })

            $('#ProvinciaDrop').val("@Model.Provincia");
            $('#ProvinciaDrop').change()
        }());

        async function getCities(codProvince) {
            const request = "https://apis.datos.gob.ar/georef/api/localidades?provincia=" + codProvince + "&campos=nombre&orden=nombre&max=5000";
            const response = await fetch(request);
            const data = await response.json();
            return data;
        }

        async function fillCities(codProvince) {
            if ($('#Provincia').val() == '') {
                $('#LocalidadDrop').prop('disabled', true);
                return;
            }

            $('#LocalidadDrop').prop('disabled', true);

            $("#LocalidadDrop option").remove();

            const result = await getCities(codProvince);

            let dataCities = $.map(result.localidades, function(prov) {
                prov.id = prov.id
                prov.text = capitalizeFirstLetter(prov.nombre);
                return prov;
            });

            $('.form-select-cities').select2({
                theme: 'bootstrap-5',
                language: 'es',
                width: 'resolve',
                data: dataCities
            });

            $('#LocalidadDrop').prop('disabled', false);
            $('#LocalidadDrop').val("@Model.Localidad");
            $('#LocalidadDrop').change();
        }

        // DOCUMENT READY
        $(document).ready(function() {
            $('input[name="FotoPerfil"]').val('');

            $('#customFile').change(
                function() {
                    var fileName = $(this).val().replace('C:\\fakepath\\', ' ');
                    $(this).next('.custom-file-label').html(fileName);
                }
            );

            $('#file-reset').on('click', function() {
                $('#customFile').val('');
                $('#customFile').next('.custom-file-label').html('');
            });

            $('#picture-reset').on('click', function() {
                $('#FotoPerfilPath').val('');
                $('#profile-area-saved').hide();
                $('#profile-area-empty').show();
            });

            var emailWrited = "@Model.Email";

            $('#emailCheckBox').change(
                function() {
                    if (this.checked) {
                        emailWrited = $('#Email').val();
                        $('#Email').prop('readonly', true);
                        //$('#Email').prop('disabled', true);
                        $('#Email').val('@ViewBag.UserEmail');
                        return;
                    }
                    $('#Email').prop('readonly', false);
                    $('#Email').prop('disabled', false);
                    $('#Email').val(emailWrited);
                }
            );

            $('#ProvinciaDrop').change(
                function() {
                    $("#ProvinciaDrop option[value='']").remove();
                    $('#Provincia').val(this.value);
                    fillCities(this.value);
                }
            );

            $('#LocalidadDrop').change(
                function() {
                    $('#Localidad').val(this.value);
                }
            );

            (function() {
                if ("@Model.FotoPerfilPath" == "" || $('span[data-valmsg-for="FotoPerfil"]').html() != "") {
                    $('#profile-area-saved').hide();
                    $('#profile-area-empty').show();
                } else {
                    $('#profile-area-saved').show();
                    $('#profile-area-empty').hide();
                }
            }());
        });
    </script>
    }
